html,
body,
#root {
  margin: 0;
  padding: 0;
  /* background: oklch(98.5% 0.003 260); */
  /* background: #101212; */
  /* background: #020024; */
  background: #020024;
  background: radial-gradient(
    circle,
    rgb(57, 0, 0) 0%,
    rgb(150, 0, 0) 80%
  );
}

* {
  box-sizing: border-box;
}
